.contactcard{
width:100%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
align-items: center;
}
.contactcard h1{
    font-size: 2rem;
    text-align: center;
}

.c-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 25px;
}

.cdetails{
    width: 40%;
    box-shadow: 1px 1px 4px black;
    height: 6vh;
}

  
  .cdetails {
    display: flex;
    align-items: center;
    background-color: #f9f6ff;
    padding: 1rem;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    margin-left: 5%;
  }
  
  .icon-circle {
    background-color: #e7dafe;
    border-radius: 50%;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7c3aed;
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  
  .text {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    color: #6b7280; /* Gray-500 */
    font-size: 0.875rem;
  }
  
  .value {
    color: #8d4ff8; /* Purple-600 */
    font-weight: 500;
  }
  
  @media (max-width: 768px) {
  .cdetails {
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin-left: 0;
  }

  .icon-circle {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .c-cards {
    flex-direction: column;
    padding: 15px;
    gap: 15px;
  }
}
