.dashboard-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
  }
  
  .left-panel {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .right-panel {
    width: 70%;
  }
  
  .welcome-box, .profile-box, .recent-activity-box {

    font-weight: 600;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .secondary-btn {

    padding: 10px;
    border: 1px solid #e5e7eb;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
  }
  
  .progress-bar {

    height: 8px;
    border-radius: 4px;
    margin: 10px 0;
  }
  
  .progress {
    height: 100%;

    border-radius: 4px;
  }
  
  .profile-box ul {
    padding-left: 20px;

    font-size: 14px;
  }
  
  .recent-activity-box .header {
    display: flex;
    align-items: center;      
    gap: 0px;                 
    color: #07025e;
    margin-bottom: 20px;
  }
  
  .recent-activity-box .header .icon{
    font-size: 40px;

  }
  
  
  .activity-card {
    display: flex;
    gap: 10px;

    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 10px;
  }
  
  .activity-card .icon {
   
    color: #29016f;
    padding: 10px;
    
    font-size: 25px;
  }
  