.hero {
  margin-top: -15px;
  width: 102%;
  margin-left: -15px;
  text-align: center;
  padding: 2rem;
  background: linear-gradient(to top, white 30%, #0d47a1 50%, black 90%);
}

.hero-content {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.hero-text {
  text-align: center;
  margin-bottom: 15px;
}

.topic-text {
  font-size: 2.5rem;
  font-weight: 800;
  color: #ffffff;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
}

.topic-text::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #3b82f6;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

.hero-text p {
  margin-bottom: 10px;
  font-weight: 400;
  color: rgb(226, 226, 226);
}

.hero-description {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1.7;
  max-width: 990px;
  margin: 40px auto;
  margin-top: 2px;

  padding: 25px 15px;

  background: linear-gradient(90deg, white, #3c10ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(117, 83, 226, 0.25);

  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 10px;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 2px;
  margin-right: 180px;
}

.hero-explore1,
.hero-explore2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 180px;
  height: 50px;
  padding: 20px;
  border-radius: 12px;
  background-color: #4a60ff;
  color: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease;
  font-weight: 500;
  cursor: pointer;
}

.hero-explore1:hover {
  background-color: #4a60ff;
  color: white;
}

.hero-explore2:hover {
  background-color: #4a60ff;
  color: white;
}

.hero-explore1 p,
.hero-explore2 p {
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}

.style-arrow {
  width: 20%;
  background-size: cover;
  border-radius: 10px;
}

.image-section {
  width: 100%;
}

.image-section .styled-image1 {
  width: 500px;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .hero {
    margin-left: -10px;
    width: 105%;
  }
  .hero-content {
    margin-top: -80px;
  }
  .topic-text {
    font-size: 2rem;
  }

  .logo {
    width: 100px;
    padding: 0px 15px;
  }

  ul {
    text-align: center;
    padding-left: 2px;
    width: 100%;
  }

  ul li {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .btn {
    margin: 30px 40px;
    width: calc(100% - 400px);
    padding: 8px;
    margin-left: 210px;
  }

  .hero {
    padding: 8rem;
  }

  .hero-text h2 {
    font-size: 40px;
  }

  .hero-text p {
    font-size: 15px;
  }

  .hero-description {
    font-size: 14px;
    max-width: 100%;
    padding: 0 10px;
  }

  .button-group {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .hero-explore1,
  .hero-explore2 {
    width: 80%;
    padding-left: 20px;
  }

  .hero-explore1 p,
  .hero-explore2 p {
    font-size: 14px;
  }

  .style-arrow {
    width: 20px;
    height: 20px;
  }

  .image-section .styled-image1 {
    width: 105%;
    max-width: 102%;
    height: auto;
    padding-top: 5px;
  }
}
