.hero {
  margin-top: 5px;
  text-align: center;
  padding: 2rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text {
  text-align: center;
  margin-bottom: 15px;
}

.topic-text {
  font-size: 2.5rem;
  font-weight: 800;
  color: #1f2937;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
}

.topic-text::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #3b82f6;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

.hero-text p {
  margin-bottom: 10px;
  font-weight: 400;
  color: black;
}

.hero-description {
  font-size: 16px;
  font-weight: 400;
  color: #555;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.hero-explore1 {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 150px;
  padding: 5px 6px;
  padding-left: 30px;
  border-radius: 60px;
  color: black;
  background-color: lightgray;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.hero-explore1:hover {
  background-color: #2f9ae7;
  color: white;
}

.hero-explore2 {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 150px;
  padding: 5px 6px;
  padding-left: 30px;
  border-radius: 60px;
  color: black;
  background-color: lightgray;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.hero-explore2:hover {
  background-color: #2f9ae7;
  color: white;
}

.hero-explore1 p,
.hero-explore2 p {
  font-size: 15px;
  font-weight: 500;
}

.style-arrow {
  width: 20%;
  background-size: cover;
  border-radius: 10px;
}

.image-section {
  width: 100%;
}

.image-section .styled-image1 {
  width: 500px;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    height: 240px;
    padding: 8px;
    align-items: flex-start;
    overflow: hidden;
  }
  .topic-text {
    font-size: 2rem;
  }

  .logo {
    width: 100px;
    padding: 0px 15px;
  }

  ul {
    text-align: center;
    padding-left: 2px;
    width: 100%;
  }

  ul li {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .btn {
    margin: 30px 40px;
    width: calc(100% - 400px);
    padding: 8px;
    margin-left: 210px;
  }

  .hero {
    padding: 8rem;
  }

  .hero-text h2 {
    font-size: 30px;
  }

  .hero-text p {
    font-size: 15px;
  }

  .hero-description {
    font-size: 14px;
    max-width: 100%;
    padding: 0 10px;
  }

  .button-group {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .hero-explore1,
  .hero-explore2 {
    width: 80%;
    padding-left: 20px;
  }

  .hero-explore1 p,
  .hero-explore2 p {
    font-size: 14px;
  }

  .style-arrow {
    width: 20px;
    height: 20px;
  }

  .image-section .styled-image1 {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-top: 5px;
  }
}
