body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Allow scroll if needed vertically */
}

.slider-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #000;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 350px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}








/* Responsive Fix */
@media (max-width: 968px) {
  .swiper {
    width: 90%;
    aspect-ratio: 4 / 3;
    border-radius: 1rem;
  }
}
