.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 123, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(0, 123, 255, 0.2);
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  position: fixed;
  /* Keeps navbar fixed to the top */
  top: 0;
  left: 0;
  z-index: 1000;
  border-radius: 0 0 10px 10px;
  font-family: 'Segoe UI', sans-serif;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
  display: flex;
  align-items: center;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.navbar-links li {
  margin-top: 20px;
}

.navbar-links li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 5px 10px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.navbar-links li a:hover {
  background-color: #56a1f1;
  border-radius: 5px;
}

.navbar-links li button {
  margin-top: -10px;
}
