/* ProfileDisplay.css */
.profile-panel {
  background: white;
  border-radius: 30px;
  padding: 25px;
  flex: 1 1 350px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.profile-preview {
  max-width: 400px;
  margin: 0 auto;
 background: linear-gradient(to left, #0d47a1 20%, black 70%);
}

.profilehead {
   background: linear-gradient(to left, #0d47a1 20%, black 70%);
  padding: 5px;
  border-radius: 5px;
}

.profile-picture {
  width: 70px;
  height: 70px;
  background: #057cdd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px auto;
}

.profile-preview h2 {
  margin: 0;
  font-size: 1.5em;
  color: #9dbef0;
}

.sub {
  color: #fdfeff;
  margin-bottom: 5px;
}

.location {
  font-size: 0.9em;
  color: #fffbfb;
  margin-bottom: 15px;
  
}

.section {
  margin-top: 20px;
  text-align: left;
}


.section h4 {
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #3d8de9;
}

.section p{
  color: #e1f5fe;
}

.section a{
  color: #f0f7ff;
}
.skills,
.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.skill-tag {
  background: #e1f5fe;
  color: #0277bd;
  padding: 3px 5px;
  border-radius: 20px;
  font-size: 0.85em;
  display: inline-flex;
  align-items: center;
}

.project-card {
  background: #f0f7ff;
  border: 1px solid #bbdefb;
  padding: 10px;
  border-radius: 8px;
  flex: 1 1 100%;
  max-width: 100%;
}

.project-card h5 {
  margin: 5px 0;
  font-size: 1em;
  color: #0d47a1;
}

.project-card .tech {
  font-size: 0.85em;
  color: #5c6bc0;
}
