.post-job{
    padding: 0;
    width:101%;
    margin-top: -10px;
    margin-left: -10px;
    
}

.employee-home{
 min-height: 100vh;
width: 102%;
margin-left: -16px;
background: 
  linear-gradient(to right, rgba(0, 0, 0, 0.91) 20%, rgba(0, 0, 0, 0.411) 100%),  /* lighter left fade */
  linear-gradient(to top left, rgba(0, 0, 0, 0.552) 20%, rgba(255, 255, 255, 0) 80%), 
  url("https://i.pinimg.com/736x/99/cc/71/99cc711ec42198ca4ff194cf68fcaf57.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;

}

