.signup-page{
  background-image: url("https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
   display: flex;
  align-items: center;
  justify-content: center;

}


.form-wrapper {
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
 
}

.left-panel {
  flex: 1;
  background: linear-gradient(to left, #0d47a1 20%, black 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.right-panel {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #d8d8d8;
  outline: none;
}

.radio-group {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

button {
  margin-top: 20px;
  padding: 12px;
  background: linear-gradient(to right, #12396e, #4a60ff);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #5c7de0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

@media (max-width: 600px) {
  .form-wrapper {
    flex-direction: column;
    width: 95%;
  }

  .left-panel {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    
  }
  .left-panel h2{
    width: 80%;
    margin-left: -50px;
  }

  .right-panel {
    padding-top: 20px;
  }
}

.register-login-redirect {
  margin-top: 1.5rem;
  font-size: 0.95rem;
  text-align: center;
  color: #444;
}

.register-login-redirect a {
  color: #5c67f2;
  text-decoration: none;
  font-weight: 500;
  margin-left: 5px;
}

.register-login-redirect a:hover {
  text-decoration: underline;
}
