/* ProfilePage.css */
.profile-page {
  width: 103%;
  height: 30%;
  margin-top: -13px;
  margin-left: -16px;
 padding-top: 20px;
  margin-top: -100px;
  background: 
  linear-gradient(to right, rgba(0, 0, 0, 0.54) 25%, rgba(39, 39, 39, 0) 100%),  /* dark left fade */
  linear-gradient(to top left, rgba(0, 0, 0, 0.61) 20%, rgba(0, 0, 0, 0) 80%), 
    url("https://i.pinimg.com/736x/1d/e9/59/1de959957c92232225b4438afece0349.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment:fixed; 
 
}

.profile-page h1 {
  text-align: center;
    color: #ffffff;
    margin-top: 100px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  padding-right: 50px;
  justify-content: center;
  
}

@media (max-width: 768px) {
  .profile-page {
    width: 106%;
    margin-right: 0;
    margin-left: -13px;
    padding-right: 10px;
    padding-left: 15px;
  }

  .profile-container {
   padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    box-sizing: border-box;
  }
}
