.student-page{
padding: 0px;
margin-top: 0px;

}

.std-dashboard{
    min-height: 1200px;
  width: 102%;
  margin-left: -16px;
  background: 
  linear-gradient(to right, rgba(0, 0, 0, 0.95) 25%, rgba(0, 0, 0, 0) 100%),  /* dark left fade */
  linear-gradient(to top left, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0) 80%), 
    url("https://i.pinimg.com/736x/b3/52/1e/b3521e5dba4adb2c188d66f6aad445e5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
  margin-top: -95px;
<<<<<<< HEAD
 
=======
}

.std-findjobs{
  margin-top: -100px;
  background: 
  linear-gradient(to right, rgba(0, 0, 0, 0.54) 25%, rgba(39, 39, 39, 0) 100%),  /* dark left fade */
  linear-gradient(to top left, rgba(0, 0, 0, 0.61) 20%, rgba(0, 0, 0, 0) 80%), 
    url("https://i.pinimg.com/736x/1d/e9/59/1de959957c92232225b4438afece0349.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment:fixed; 

>>>>>>> 835cf3855d16139a24fc7d634e9cc14483fd3424
}